{% spaceless %}
    {# { pa(session) } #}

    <div class="container" >
        <div class="row" >
            <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 xcol-xl-4 xcol-xl-offset-4 text-center" >

                {% if get.warn is defined and get.warn|length > 1 %}
                    <div class="alert-warning" style="padding:10px;" >{{ get.warn }}</div>
                {% endif %}

                {#% set aut_soc_user = who_are_you( db, session.now_user.id) %#}
                {% if session.now_user.id is defined %}
                    {# вход выполнен #}

                    {% set aut_soc_user = where_now_job_user( db, session.now_user.id) %}
                    {#{ pa(aut_soc_user) }#}

                    {% if aut_soc_user.status is defined and aut_soc_user.status == 'error' %}
                        {# вход выполнен но нет привязки к работнику #}

                        <p>Пожалуйста сообщите администратору что вы авторизовались и сообщите номер авторизации <b>{{ session.now_user.id }}</b> </p>

                    {% elseif aut_soc_user.status is defined and aut_soc_user.status == 'ok' %}
                        {# вход выполнен и есть привязка к работнику #}

                        {% include constant('dir_mods_mod_vers_tpl')~'body.base.aut_view.htm' %} 

                    {% endif %}

                {% else %}
                    {# не выполнен вход #}

                    <br/>
                    <br/>
                    <p>Добро пожаловать</p>

                {% endif %}

            </div>
        </div>
    </div>
{% endspaceless %}