{% spaceless %}

    {#{ pa(aut_soc_user) }#}
    {# текущий джобмен #}
    {#{ pa(aut_soc_user.data) }#}
    {#{ pa(aut_soc_user.data.jobman) }#}

    {#
    <div style="background-color: rgba(0,0,0,0.05);padding:5px 10px; text-align: center; position: fixed; bottom: 10px; right: 10px;" >
    Читательский билет: {{ aut_soc_user.data.jobman }}
    </div>
    <br/>
    #}
    
    {% set sps = readItems( 'sale_point', null )  %}

    {% if aut_soc_user.data.fin == '' %}
    {# форма закрытия смены #}
    
            <form action="" method="post" id="form_spec_check">

                <input type='hidden' name='id_item_check' value='{{ aut_soc_user.data.id_check }}' >

                Где вы сейчас 
                
                <Br/>
                <Br/>

                <h2>{{ sps.data[aut_soc_user.data.sale_point]['head'] }}</h2>
                <input type='hidden' name='sp' value='{{ aut_soc_user.data.sale_point }}' >
                <input type='hidden' name='sale_point' value='{{ aut_soc_user.data.sale_point }}' >

                <br/>
                <br/>

                <button type=submit class="btn btn-success" >Закончил смену</button>

                <input type='hidden' name='user' value='{{ aut_soc_user.data.jobman }}' >
                <input type='hidden' name='action' value='end_job_in_sp' >
                <input type='hidden' name='s' value='{{ creatSecret('end_job_in_sp'~aut_soc_user.data.jobman~'-'~aut_soc_user.data.id_check) }}' >

                <input type='hidden' name='print_res_to_id' value='res123' >
                <input type='hidden' name='ajax_url' value='{{ constant('dir_mods_mod_vers') }}ajax.php' >
                <input type='hidden' name='hide_id_before_success' value='form_spec_check' >
                <input type='hidden' name='redirect_to_success' value='https://{{ server.HTTP_HOST }}/index.php?level={{ get.level|default('000.index') }}&warn=' >

            </form>

        
        
    {% else %}
    {# форма открытия смены #}
    
            <form action="" method="post" id="form_spec_check">

                Где вы сейчас 
                <Br/>
                <Br/>

                <select class="form-control" name="sale_point">

                    {# <option>Выберите точку где вы сегодня</option> #}
                    {% for sp_id,sp in sps.data if sp.head != 'default' and sp.status == 'show' %}
                        <option value="{{ sp.id }}"

                                {% if aut_soc_user.data.default_sp is defined and aut_soc_user.data.default_sp == sp.id %}
                                    selected="selected"
                                {% endif %}

                                >{#{ sp.id }} - #}{{ sp.head }}</option>
                    {% endfor %}

                </select>

                <br/>

                <button type=submit class="btn btn-success" >Старт</button>
                {#
                <button type=submit class="btn btn-success" >Закончил смену</button>
                #}

                <input type='hidden' name='user' value='{{ aut_soc_user.data.jobman }}' >
                <input type='hidden' name='action' value='enter_in_sp' >
                <input type='hidden' name='s' value='{{ creatSecret('enter_in_sp'~aut_soc_user.data.jobman) }}' >

                <input type='hidden' name='print_res_to_id' value='res123' >
                <input type='hidden' name='ajax_url' value='{{ constant('dir_mods_mod_vers') }}ajax.php' >
                <input type='hidden' name='hide_id_before_success' value='form_spec_check' >
                <input type='hidden' name='redirect_to_success' value='https://{{ server.HTTP_HOST }}/index.php?level={{ get.level|default('000.index') }}&warn=' >

            </form>


    {% endif %}


    <div id='res123'></div>


{% endspaceless %}